@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b89n4o');
  src:  url('fonts/icomoon.eot?b89n4o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b89n4o') format('truetype'),
    url('fonts/icomoon.woff?b89n4o') format('woff'),
    url('fonts/icomoon.svg?b89n4o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gg-marker:before {
  content: "\e902";
}
.gg-marker-filled:before {
  content: "\e903";
}
.gg-gavel-down:before {
  content: "\e900";
}
.gg-gavel-up:before {
  content: "\e901";
}

